
:root {
  --text-h2: #a29c9e;

  --White-000: #FFFFFF;  
  --White-050: #F2F4F5;
  --White-100: #E4E7E9;
  --White-200: #C9CFD2;
  --White-250: #929292;
  --White-300: #A5ACB2;

  --Gray-600: #5F6C72;
  --Gray-800: #303639;
  --Gray-900: #191C1F;

  --Blue-100: #1f87ccdc;
  --Blue-300: #2da4f3;
  --Blue-500: #2484C2;
  --Blue-700: #1B6392;
  --Blue-900: #0d6efd;

  --Green-500: #2DB224;

  --Yellow-400: #EFD33D;
  --Yellow-500: #EBC80C;

  --Orange-100: #faa568;
  --Orange-500: #FFA500;
  --Orange-600: #FF8C00;

  --Red-500: #ef4444;

  --shadow:  5px 6px 7px 0px rgba(0, 0, 0, 0.474);
  --shadow-W: inset 0px 2px 0px rgba(255, 255, 255, 0.502);

  --foreground: #121013;
  --foregraund-w:  rgba(22, 22, 22, 0.228);
}


.logo{
  font-family: "PT Sans Caption",;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.h1-footer-600 {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.h2-footer-400 {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-primary{
 background-color: var(--Blue-700) !important;
}

.text-primary{
  color:  var(--Blue-700) !important;;
}